version: '3.9'

services:
  db:
    image: postgres:15  
    container_name: email_postgres
    restart: always
    environment:
      POSTGRES_USER: admin      
      POSTGRES_PASSWORD: admin123  
      POSTGRES_DB: email       
    ports:
      - "5434:5432"  
    volumes:
      - postgres_data:/var/lib/postgresql/data  

volumes:
  postgres_data:
